<div class="input-group">
    <span class="input-group-addon" id="name-addon">name</span>
    <input ng-model="$parent.dictionary.name" type="text" class="form-control" aria-describedby="name-addon">
</div>
<div class="input-group">
    <span class="input-group-addon" id="learningLanguage-addon">Learning Language</span>
    <select ng-model="$parent.dictionary.learningLanguage" ng-options="lng.name as lng.description for lng in languages"
            class="form-control" aria-describedby="learningLanguage-addon">
        <option value="">-- Choose Learning Language --</option>
    </select>
</div>
<div class="input-group">
    <span class="input-group-addon" id="nativeLanguage-addon">Native Language</span>
    <select ng-model="$parent.dictionary.nativeLanguage" ng-options="lng.name as lng.description for lng in languages"
            class="form-control" aria-describedby="nativeLanguage-addon">
        <option value="">-- Choose Native Language --</option>
    </select>
</div>
<div class="input-group">
    <span class="input-group-addon" id="level-addon">Level</span>
    <select ng-model="$parent.dictionary.level" ng-options="level.name as level.description for level in levels"
            class="form-control" aria-describedby="level-addon">
        <option value="">-- Choose Level --</option>
    </select>
</div>