<div ng-controller="LoginController">
    <h3>Login with Username and Password</h3>

    <form ng-submit="login()">
        <table>
            <tr>
                <td>User:</td>
                <td><input type='text' name='username' value='' ng-model="name"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type='password' name='password' ng-model="password"/></td>
            </tr>
            <tr>
                <td colspan='2'><input name="submit" type="submit" value="Login"/></td>
            </tr>
        </table>
    </form>
</div>